body {
    background-color: white
  }

h1 {
    color: #cc1465
  }

h1 {
    text-align: center;
  }

h1 {
    font-family: ;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
ul {
  list-style-type: Georgia, Sigmar One;
margin: .3em
padding: .2em .5em .3em`, `0 .75em`, `.75em`

}
